@import 'bootstrap';

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  width: 200px;
  margin: 0 auto;
}

.container-content {
  padding-top: 30px;

  @media screen and (min-width: 992px) {
    padding-top: 60px;
  }
}
