@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Inter:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'DM Mono', monospace;
}

p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container-content {
  padding-top: 30px;
  padding-bottom: 40px;

  @media screen and (min-width: 992px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.created-by {
  display: none;

  @media screen and (min-width: 576px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.contacts-wrap {
  @media screen and (min-width: 992px) {
    padding: 70px;
    border: 1px solid black;
    border-radius: 16px;
  }
  .contact-form {
    border: 1px solid black;

    @media screen and (min-width: 992px) {
      border: none;
    }
  }
}

.main {
  background: rgb(59, 168, 103);
  background: linear-gradient(
    90deg,
    rgba(59, 168, 103, 1) 0%,
    rgba(203, 90, 215, 1) 100%
  );
  .contacts-wrap {
    background-color: transparent;

    @media screen and (min-width: 992px) {
      background-color: white;
    }
    .contact-form {
      border: 1px solid black;
      background-color: white;
    }
  }
}
