@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Inter:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'DM Mono', monospace;
}

p {
  margin: 0;
}

.container-content {
  padding-top: 30px;

  @media screen and (min-width: 992px) {
    padding-top: 60px;
  }
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

